@import "../../global.scss";


.contact{
    background-color: white;
    display: flex;

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h1{
            font-size: 50px;
            margin: 45px;
        }

        form {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input{
                width: 300px;
                height: 30px;
                font-size: 14px;
            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: $mainColor;
                border: none;
                border-radius: 10px;
                font-weight: 500px;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }

            span {
                color: 3A5A40;
                font-weight: bold;
            }
        }
    

    }
}